:root {
  /* --da-color-primary-light */
  --background-color: white;
  /* --da-color-primary-dark */
  --primary-color: black;
  --secondary-color: #a0a0a0;
  --contrast-color: white;
  --navbar-border-color: #f0f0f0;

  /* COLOR PALETTE */
  --da-color-primary-light: #ffffff;
  --da-color-primary-dark: #213547;
  --da-color-secondary: #a0a0a0;
  --da-color-navbar-border: #f0f0f0;
  --da-color-background-light: #f9f9f9;

  /* FONT SIZE */
  --da-typography-h1: 1.75rem;
  --da-typography-h2: 1.625rem;
  --da-typography-h3: 1.625rem;
  --da-typography-p: 0.8125rem;
  --da-typography-typeface: 'Arial, Helvetica, sans-serif';
  --da-typography-heading-typeface: 'Georgia, Times New Roman, Times, serif';

  /* LEADING */
  --da-typography-h1-leading: 1;
  --da-typography-h2-leading: 1.26;
  --da-typography-p-leading: 1.5;

  /* MARGIN */
  --da-typography-margin-heading: 2rem;

  /* GAP */
  --da-gap-header: 1rem;

  /* BORDER RADIUS */
  --da-radius-button: 0.5rem;
  --da-radius-card: 0.5rem;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--da-color-primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: var(--da-typography-typeface);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--da-typography-p);
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--da-typography-heading-typeface);
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: var(--da-typography-h1);
  line-height: var(--da-typography-h1-leading);
  margin-bottom: 0.4375rem;
  color: var(--da-color-primary-light);
}

h2 {
  font-size: var(--da-typography-h2);
  line-height: var(--da-typography-h2-leading);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--da-typography-h3);
}

h4 {
  margin-bottom: 8px;
}

h5 {
  font-size: 25px;
  margin-bottom: 20px;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
