.filter {
  padding: 30px 0;
}

.filter-bar > span {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-bar > img {
  transform: rotate(45deg);
  width: 7px;
  display: inline-block;
  transition: transform 0.3s ease 0s;
  margin-left: 5px;
}

.filter__menu-mobile {
  display: none;
}
