.filter {
  padding: 30px 0;
}

.filter-bar > span {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-bar > img {
  transform: rotate(45deg);
  width: 7px;
  display: inline-block;
  transition: transform 0.3s ease 0s;
  margin-left: 5px;
}

.filter__menu {
  display: none;
  flex-direction: column;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  gap: 1.5rem;
}

.seller-select {
  background-color: transparent;
  cursor: pointer;
}

.price-filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cta {
  border: 0;
  background-color: inherit;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media screen and (min-width: 576px) {
  .filter-bar > span {
    font-size: 16px;
  }
  .filter-bar > img {
    width: 11px;
  }
  .cta {
    font-size: 14px;
  }
}
