.products {
  padding: 40px 0;
}

.products-grid {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: left;
  color: var(--secondary-color);

  margin-top: 24px;
  padding: 0 15px;
}

.shop-product {
  color: #666;
  position: relative;
  overflow: hidden;
}

.shop-product__badge {
  position: absolute;
  top: -7px;
  right: -30px;
  color: #fff;
  background: #9aa8b1;
  width: 80px;
  line-height: 59px;
  font-size: 11px;
  text-align: center;
  height: 40px;
  transform: rotate(45deg);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  z-index: 2;
}

.shop-product__img .shop-product-alternative {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 40px 0;
}

.shop-product__img:hover .shop-product-alternative {
  opacity: 1;
}

.shop-product__img {
  position: relative;
  display: flex;
  padding: 65px 0;
  height: 70%;
  margin-bottom: 20px;
}

.shop-product__img > img {
  width: 90%;
  margin: 0 auto;
  align-self: center;
}

.shop-product__img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.028);
  z-index: 2;
}

.shop-product__description > p {
  margin: 0;
}
.shop-product__description > h4 {
  margin: 0;
}
