footer {
  background: var(--da-color-background-light);
  font-family: var(--da-typography-heading-typeface);
  color: var(--da-color-primary-dark);
  padding: 0px 90px;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.footer-row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.newsletter > .subtitle {
  display: none;
}

.newsletter-email {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.newsletter-email > input {
  font-size: 12px;
  font-style: italic;
  border: none;
  background: var(--da-color-background-light);
}

.newsletter-email > button {
  border: none;
  font-size: 10px;
  background: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

.footer-menu {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 30px;
}

.footer-other-links {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media__link > img {
  width: 20px;
}

.copyright-links {
  display: flex;
  flex-direction: column;
  color: #707a7f;
  font-style: italic;
}

.website-author {
  font-style: italic;
}

@media screen and (min-width: 576px) {
  footer {
    margin-top: 40px;
    padding: 0 50px;
    padding-bottom: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    padding: 80px 0;
  }

  .newsletter {
    max-width: 380px;
    text-align: left;
  }

  .newsletter > .subtitle {
    display: flex;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 32px;
  }

  .newsletter-email > input {
    font-size: 14px;
  }

  .newsletter-email > button {
    font-size: 14px;
  }

  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .footer-other-links {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .copyright-links {
    flex-direction: row;
    gap: 16px;
  }
}
